.cardapio-container {
  padding: 40px 20px;
  text-align: center;
}

.cardapio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.item-doce {
  background-color: #fff8f8;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.item-doce button {
  background-color: #ff8fab;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.item-doce button:hover {
  background-color: #e75480;
}

.itemCardapio{
  list-style-type: none;
}

.mensagem-carrinho {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease forwards;
  z-index: 1000;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}


.mensagem-brigadeiro {
  background-color: #8b5e3c;
}

.mensagem-cupcake {
  background-color: #ff69b4;
}

.mensagem-morangodoamor {
  background-color: #ff7f50;
}

.mensagem-bolo {
  background-color: #ba55d3;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}
